nav {
  position: sticky;
  top: 0;
  z-index: 20;

  .nav-line {
    transition: all 300ms ease-in-out;
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line-2 {
  opacity: 0;
  transform: scaleX(0);
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

.image-gallery-slides,
.image-gallery-image,
.image-gallery-thumbnail {
  border-radius: 0.75rem;
}

.image-gallery-thumbnail-image {
  border-radius: 0.5rem;
}

.image-gallery-right-nav {
  .image-gallery-svg {
    height: 60px !important;
  }
}

.image-gallery-right-nav {
  .image-gallery-svg {
    height: 60px !important;
    width: auto !important;
  }
}

.image-gallery-left-nav {
  .image-gallery-svg {
    height: 60px !important;
    width: auto !important;
  }
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 4px solid #c28e35 !important;
}

@media (max-width: 768px) {
  nav {
    .nav-links {
      transform: translateY(-110%);
      transition: transform 300ms ease-in-out;
    }

    .nav-mobile-active {
      transform: translateY(0);
    }
  }
}
